.btn {

  border-radius: 28px;
text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;
font-family: Arial;
  color: black;
  font-size: 27px;
  padding: 19px;
  text-decoration: none;
}

.btn:hover {
  background: #FDFEFE ;
  background-image: -webkit-linear-gradient(top, #FDFEFE , #717D7E );
  background-image: -moz-linear-gradient(top, #FDFEFE , #717D7E );
  background-image: -ms-linear-gradient(top, #FDFEFE , #717D7E );
  background-image: -o-linear-gradient(top, #FDFEFE , #717D7E );
  background-image: linear-gradient(to bottom, #FDFEFE , #717D7E );
  text-decoration: none;
}

.btn2 {
border-radius: 28px;
text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;
font-family: Arial;
  color: black;
  font-size: 27px;
  padding: 19px;
  text-decoration: none;
}

.btn2:hover {
  background: #FDFEFE ;
  background-image: -webkit-linear-gradient(top, #FDFEFE , #717D7E );
  background-image: -moz-linear-gradient(top, #FDFEFE , #717D7E );
  background-image: -ms-linear-gradient(top, #FDFEFE , #717D7E );
  background-image: -o-linear-gradient(top, #FDFEFE , #717D7E );
  background-image: linear-gradient(to bottom, #FDFEFE , #717D7E );
  text-decoration: none;
}

.btn3 {
  border-radius: 28px;
text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;
font-family: Arial;
  color: black;
  font-size: 27px;
  padding: 19px;
  text-decoration: none;
}

.btn3:hover {
  background: #FDFEFE ;
  background-image: -webkit-linear-gradient(top, #FDFEFE , #717D7E );
  background-image: -moz-linear-gradient(top, #FDFEFE , #717D7E );
  background-image: -ms-linear-gradient(top, #FDFEFE , #717D7E );
  background-image: -o-linear-gradient(top, #FDFEFE , #717D7E );
  background-image: linear-gradient(to bottom, #FDFEFE , #717D7E );
  text-decoration: none;
}